<div id="about">
  <div id="about-card">
    <div id="about-btn-close">
      <i class="fa fa-times"></i>
    </div>
    {{ with .Site.Params.gravatarEmail }} <img id="about-card-picture"
    src="https://www.gravatar.com/avatar/{{ md5 . }}?s=110" alt="{{ i18n
    "global.author_picture" }}" /> {{ else }}
    <p>{{ i18n "global.author_picture" }}</p>
    {{ end }}
    <h4 id="about-card-name">{{ .Site.Params.author }}</h4>
    {{ with .Site.Params.bio }}
    <div id="about-card-bio">{{ . | markdownify }}</div>
    {{ end }} {{ with .Site.Params.job }}
    <div id="about-card-job">
      <i class="fa fa-briefcase"></i>
      <br />
      {{ . | markdownify }}
    </div>
    {{ end }} {{ with .Site.Params.location }}
    <div id="about-card-location">
      <i class="fa fa-map-marker-alt"></i>
      <br />
      {{ . }}
    </div>
    {{ end }}
  </div>
</div>
